Repository celo-org/optics-monorepo, pull requests merged in 2021-10, with the labels that each got.

#859 fix: fix kathy sync bug related to `ethers-rs` concurrency
  rust/agents/kathy/src/kathy.rs
Labels: bug, rust 🦀, agents

#802 tool: Contract Event Metrics
  typescript/contract-metrics/.env.example
  typescript/contract-metrics/.gitignore
  typescript/contract-metrics/.prettierrc
  typescript/contract-metrics/package-lock.json
  typescript/contract-metrics/package.json
  typescript/contract-metrics/src/config.ts
  typescript/contract-metrics/src/eventMetrics.ts
  typescript/contract-metrics/src/events.ts
  typescript/contract-metrics/src/googleSheets.ts
  typescript/contract-metrics/src/monitor.ts
  typescript/contract-metrics/src/traceMessage.ts
  typescript/contract-metrics/tsconfig.json
Labels: typescript

#863 feature: `HomeIndexer` stores update metadata
  rust/chains/optics-ethereum/src/home.rs
  rust/optics-core/src/db/home_db.rs
  rust/optics-core/src/types/update.rs
Labels: rust 🦀, agents

#854 fix: wait for token approval in send
  typescript/optics-provider/src/optics/OpticsContext.ts
  typescript/optics-provider/src/optics/contracts/BridgeContracts.ts
  typescript/optics-provider/src/optics/contracts/CoreContracts.ts
  typescript/optics-provider/src/optics/events/fetch.ts
Labels: enhancement, typescript

#874 feature: add db state dump command to `optics-cli`
  rust/Cargo.lock
  rust/Cargo.toml
  rust/Dockerfile
  rust/optics-core/src/db/home_db.rs
  rust/tools/optics-cli/Cargo.toml
  rust/tools/optics-cli/README.md
  rust/tools/optics-cli/src/commands.rs
  rust/tools/optics-cli/src/main.rs
  rust/tools/optics-cli/src/replicas.rs
  rust/tools/optics-cli/src/rpc.rs
  rust/tools/optics-cli/src/subcommands/db_state.rs
  rust/tools/optics-cli/src/subcommands/mod.rs
  rust/tools/optics-cli/src/subcommands/prove.rs
Labels: rust 🦀, dev-tooling

#860 refactor: Annotated is now a proper class
  typescript/optics-provider/.eslintignore
  typescript/optics-provider/.eslintrc.json
  typescript/optics-provider/package-lock.json
  typescript/optics-provider/package.json
  typescript/optics-provider/src/contracts.ts
  typescript/optics-provider/src/metamask.ts
  typescript/optics-provider/src/optics/OpticsContext.ts
  typescript/optics-provider/src/optics/contracts/BridgeContracts.ts
  typescript/optics-provider/src/optics/contracts/CoreContracts.ts
  typescript/optics-provider/src/optics/events/bridgeEvents.ts
  typescript/optics-provider/src/optics/events/fetch.ts
  typescript/optics-provider/src/optics/events/index.ts
  typescript/optics-provider/src/optics/events/opticsEvents.ts
  typescript/optics-provider/src/optics/index.ts
  typescript/optics-provider/src/optics/messages/BridgeMessage.ts
  typescript/optics-provider/src/optics/messages/OpticsMessage.ts
  typescript/optics-provider/src/provider.ts
Labels: refactor, typescript

#821 feature: configuration to push proofs to s3 buckets
  .gitignore
  rust/Cargo.lock
  rust/agents/processor/Cargo.toml
  rust/agents/processor/src/main.rs
  rust/agents/processor/src/processor.rs
  rust/agents/processor/src/push.rs
  rust/agents/processor/src/settings.rs
  rust/optics-base/src/agent.rs
Labels: enhancement, rust 🦀, agents
