Repository celo-org/optics-monorepo, pull requests merged in 2021-07, with the labels that each got.

#439 fix: Use low-level call instead of contract call
  solidity/optics-core/contracts/Replica.sol
  typescript/src/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/Replica__factory.ts
  typescript/src/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/src/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/src/typechain/optics-core/factories/XAppConnectionManager__factory.ts
Labels: bug, solidity/js ♦️

#441 Update ProcessError event
  rust/optics-ethereum/abis/Replica.abi.json
  solidity/optics-core/contracts/Replica.sol
  typescript/src/typechain/optics-core/Replica.d.ts
  typescript/src/typechain/optics-core/TestReplica.d.ts
  typescript/src/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/Replica__factory.ts
  typescript/src/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/src/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/src/typechain/optics-core/factories/XAppConnectionManager__factory.ts
Labels: solidity/js ♦️

#416 Polish Bridge Code
  solidity/optics-xapps/contracts/Router.sol
  solidity/optics-xapps/contracts/XAppConnectionClient.sol
  solidity/optics-xapps/contracts/bridge/BridgeMessage.sol
  solidity/optics-xapps/contracts/bridge/BridgeRouter.sol
  solidity/optics-xapps/contracts/bridge/BridgeToken.sol
  solidity/optics-xapps/contracts/bridge/OZERC20.sol
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  solidity/optics-xapps/contracts/ping-pong/PingPongRouter.sol
  solidity/optics-xapps/interfaces/bridge/IBridgeToken.sol
  typescript/src/typechain/optics-xapps/BridgeRouter.d.ts
  typescript/src/typechain/optics-xapps/Replica.d.ts
  typescript/src/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/src/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/src/typechain/optics-xapps/factories/ERC20__factory.ts
  typescript/src/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/src/typechain/optics-xapps/factories/Replica__factory.ts
  typescript/src/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/src/typechain/optics-xapps/factories/XAppConnectionManager__factory.ts
  typescript/src/typechain/optics-xapps/hardhat.d.ts
  typescript/src/typechain/optics-xapps/index.ts
Labels: solidity/js ♦️

#475 readme: add section about signing commits
  README.md
Labels: docs

#448 Verify contract code after deploy script
  .github/workflows/solidity.yml
  README.md
  pre-commit.sh
  rust/config/1625570709419/alfajores_config.json
  rust/config/1625570709419/alfajores_contracts.json
  rust/config/1625570709419/alfajores_verification.json
  rust/config/1625570709419/kathy-partial.json
  rust/config/1625570709419/kovan_config.json
  rust/config/1625570709419/kovan_contracts.json
  rust/config/1625570709419/kovan_verification.json
  rust/config/1625570709419/processor-partial.json
  rust/config/1625570709419/relayer-partial.json
  rust/config/1625570709419/updater-partial.json
  rust/config/1625570709419/watcher-partial.json
  solidity/optics-core/.env.example
  solidity/optics-core/.gitignore
  solidity/optics-core/contracts/Common.sol
  solidity/optics-core/contracts/Home.sol
  solidity/optics-core/contracts/Replica.sol
  solidity/optics-core/contracts/XAppConnectionManager.sol
  solidity/optics-core/contracts/governance/GovernanceMessage.sol
  solidity/optics-core/contracts/governance/GovernanceRouter.sol
  solidity/optics-core/contracts/test/TestGovernanceRouter.sol
  solidity/optics-core/contracts/upgrade/UpgradeBeaconProxy.sol
  solidity/optics-core/hardhat.config.js
  solidity/optics-core/js/deployOpticsUtils.js
  solidity/optics-core/js/deployUpgradeSetup.js
  solidity/optics-core/js/readDeployOutput.js
  solidity/optics-core/js/verifyLatestDeploy.js
  solidity/optics-core/package-lock.json
  solidity/optics-core/package.json
  solidity/optics-core/test/Home.test.js
  solidity/optics-core/test/Replica.test.js
  solidity/optics-core/test/XAppConnectionManager.test.js
  solidity/optics-core/test/cross-chain/GovernanceRouter.test.js
  solidity/optics-core/test/cross-chain/RecoveryManager.test.js
  solidity/optics-xapps/contracts/Router.sol
  solidity/optics-xapps/contracts/XAppConnectionClient.sol
  solidity/optics-xapps/contracts/bridge/BridgeRouter.sol
  solidity/optics-xapps/contracts/bridge/BridgeToken.sol
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  solidity/optics-xapps/contracts/ping-pong/PingPongRouter.sol
  typescript/package.json
  typescript/src/chain.ts
  typescript/src/index.ts
  typescript/src/proxyUtils.ts
  typescript/src/readDeployOutput.ts
  typescript/src/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/Home__factory.ts
  typescript/src/typechain/optics-core/factories/Replica__factory.ts
  typescript/src/typechain/optics-core/factories/TestCommon__factory.ts
  typescript/src/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/TestHome__factory.ts
  typescript/src/typechain/optics-core/factories/TestMessage__factory.ts
  typescript/src/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/src/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/src/typechain/optics-core/factories/UpdaterManager__factory.ts
  typescript/src/typechain/optics-core/factories/UpgradeBeaconProxy__factory.ts
  typescript/src/typechain/optics-core/factories/XAppConnectionManager__factory.ts
Labels: solidity/js ♦️, typescript

#476 Prestwich/no ordering
  rust/processor/src/processor.rs
  rust/processor/src/settings.rs
  solidity/optics-core/contracts/Replica.sol
  solidity/optics-core/test/Replica.test.js
  typescript/src/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/Home__factory.ts
  typescript/src/typechain/optics-core/factories/Replica__factory.ts
  typescript/src/typechain/optics-core/factories/TestCommon__factory.ts
  typescript/src/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/TestHome__factory.ts
  typescript/src/typechain/optics-core/factories/TestMessage__factory.ts
  typescript/src/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/src/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/src/typechain/optics-core/factories/TypedMemView__factory.ts
  typescript/src/typechain/optics-core/factories/UpdaterManager__factory.ts
  typescript/src/typechain/optics-core/factories/XAppConnectionManager__factory.ts
  typescript/src/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/src/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/src/typechain/optics-xapps/factories/Home__factory.ts
  typescript/src/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/src/typechain/optics-xapps/factories/Replica__factory.ts
  typescript/src/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/src/typechain/optics-xapps/factories/XAppConnectionManager__factory.ts
Labels: fix, rust 🦀, solidity/js ♦️

#486 add: resolve-typechain-conflicts script
  resolve-typechain-conflicts.sh
Labels: typescript

#491 test: add replica test case of processing message sent to a non-existent contract address
  typescript/optics-tests/test/replica.test.ts
Labels: testing, typescript

#478 feature: BridgeRouter deploy script
  .gitignore
  README.md
  rust/config/1626446356788/alfajores_config.json
  rust/config/1626446356788/alfajores_contracts.json
  rust/config/1626446356788/alfajores_verification.json
  rust/config/1626446356788/bridge/1626448061681/alfajores_contracts.json
  rust/config/1626446356788/bridge/1626448061681/alfajores_verification.json
  rust/config/1626446356788/bridge/1626448061681/kovan_contracts.json
  rust/config/1626446356788/bridge/1626448061681/kovan_verification.json
  rust/config/1626446356788/kathy-partial.json
  rust/config/1626446356788/kovan_config.json
  rust/config/1626446356788/kovan_contracts.json
  rust/config/1626446356788/kovan_verification.json
  rust/config/1626446356788/processor-partial.json
  rust/config/1626446356788/relayer-partial.json
  rust/config/1626446356788/updater-partial.json
  rust/config/1626446356788/watcher-partial.json
  solidity/optics-core/hardhat.config.ts
  solidity/optics-core/js/readDeployOutput.js
  solidity/optics-core/js/verifyLatestDeploy.js
  solidity/optics-core/package-lock.json
  solidity/optics-core/package.json
  solidity/optics-core/ts/readDeployConfig.ts
  solidity/optics-core/ts/verifyLatestDeploy.ts
  solidity/optics-xapps/package-lock.json
  typescript/optics-deploy/.env.example
  typescript/optics-deploy/.gitignore
  typescript/optics-deploy/config/alfajores.ts
  typescript/optics-deploy/config/kovan.ts
  typescript/optics-deploy/package-lock.json
  typescript/optics-deploy/package.json
  typescript/optics-deploy/scripts/alfajoresKovan.ts
  typescript/optics-deploy/scripts/bridgeAlfajoresKovan.ts
  typescript/optics-deploy/src/bridge.ts
  typescript/optics-deploy/src/chain.ts
  typescript/optics-deploy/src/deployOptics.ts
  typescript/optics-deploy/src/proxyUtils.ts
  typescript/optics-deploy/src/readDeployOutput.ts
  typescript/optics-tests/lib/index.ts
  typescript/optics-tests/package-lock.json
  typescript/optics-tests/package.json
  typescript/optics-tests/test/home.test.ts
  typescript/optics-tests/test/testChain.ts
  typescript/typechain/optics-core/IERC20.d.ts
  typescript/typechain/optics-core/factories/IERC20__factory.ts
  typescript/typechain/optics-core/hardhat.d.ts
  typescript/typechain/optics-core/index.ts
  typescript/typechain/optics-xapps/hardhat.d.ts
  typescript/typechain/package-lock.json
  typescript/typechain/package.json
Labels: typescript

#503 Emit event when token deployed & make token mapping public
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  typescript/typechain/optics-xapps/BridgeRouter.d.ts
  typescript/typechain/optics-xapps/TokenRegistry.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/typechain/optics-xapps/factories/TokenRegistry__factory.ts
  typescript/typechain/optics-xapps/hardhat.d.ts
Labels: solidity/js ♦️
