Repository celo-org/optics-monorepo, pull requests merged in 2021-06, with the labels that each got.

#373 bug: disable external common initializer
  abis/Home.abi.json
  abis/Replica.abi.json
  solidity/optics-core/contracts/Common.sol
  solidity/optics-core/contracts/Home.sol
  solidity/optics-core/contracts/Replica.sol
  solidity/optics-core/contracts/test/TestCommon.sol
  solidity/optics-core/test/Common.test.js
  solidity/optics-core/test/Replica.test.js
Labels: bug, solidity/js ♦️

#380 Remove Luke as codeowner
  .github/CODEOWNERS
Labels: repo-setup

#381 refactor: break signers out of replicas in rust configs
  .gitignore
  rust/config/1622504632050-alfajores-goerli/alfajores_config.json
  rust/config/1622504632050-alfajores-goerli/goerli_config.json
  rust/config/1622591031448-alfajores-goerli/alfajores_config.json
  rust/config/1622591031448-alfajores-goerli/goerli_config.json
  rust/config/alfa-goerli/alfa_config.json
  rust/config/alfa-goerli/goerli_config.json
  rust/config/default/base.json
  rust/optics-base/src/settings/chains.rs
  rust/optics-base/src/settings/mod.rs
  rust/optics-ethereum/src/lib.rs
  rust/optics-ethereum/src/settings.rs
  rust/updater/src/settings.rs
  rust/watcher/src/settings.rs
  rust/watcher/src/watcher.rs
  typescript/src/chain.ts
Labels: rust 🦀, solidity/js ♦️

#376 enhance: typescript deploy process
  typescript/src/chain.ts
  typescript/src/index.ts
  typescript/src/proxyUtils.ts
Labels: documentation, enhancement

#382 refactor: combine lib and script folders to js folder
  solidity/optics-core/hardhat.config.js
  solidity/optics-core/js/deployOptics.js
  solidity/optics-core/js/deployOpticsUtils.js
  solidity/optics-core/js/deployUpgradeSetup.js
  solidity/optics-core/js/index.js
  solidity/optics-core/js/types.js
  solidity/optics-core/js/update_abis.sh
  solidity/optics-core/js/utils.js
  solidity/optics-core/package-lock.json
  solidity/optics-core/package.json
  solidity/optics-core/scripts/deploy.js
  solidity/optics-core/scripts/index.js
  solidity/optics-core/scripts/process.js
  solidity/optics-core/scripts/update.js
  solidity/optics-core/scripts/utils.js
  solidity/optics-core/test/cross-chain/deployCrossChainTest.js
  solidity/optics-core/test/cross-chain/types.js
  typescript/src/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/Home__factory.ts
  typescript/src/typechain/optics-core/factories/Replica__factory.ts
  typescript/src/typechain/optics-core/factories/TestCommon__factory.ts
  typescript/src/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/TestHome__factory.ts
  typescript/src/typechain/optics-core/factories/TestMessage__factory.ts
  typescript/src/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/src/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/src/typechain/optics-core/factories/TypedMemView__factory.ts
  typescript/src/typechain/optics-core/factories/UpdaterManager__factory.ts
  typescript/src/typechain/optics-core/factories/XAppConnectionManager__factory.ts
Labels: enhancement, refactor

#392 chore: add typechain generation to standard pre-commit script
  pre-commit.sh
  solidity/optics-core/package.json
  solidity/optics-xapps/package.json
Labels: chore, repo-setup

#397 refactor: home 0-indexes sequences
  solidity/optics-core/contracts/Home.sol
  solidity/optics-core/test/Home.test.js
  solidity/optics-core/test/cross-chain/GovernanceRouter.test.js
  solidity/optics-core/test/cross-chain/generateTestChainConfigs.js
Labels: Priority, bug, solidity/js ♦️

#353 feat: RecoveryManager role on GovernanceRouter
  solidity/optics-core/contracts/governance/GovernanceRouter.sol
  solidity/optics-core/contracts/test/TestGovernanceRouter.sol
  solidity/optics-core/js/deployOpticsUtils.js
  solidity/optics-core/js/types.js
  solidity/optics-core/test/cross-chain/GovernanceRouter.test.js
  solidity/optics-core/test/cross-chain/RecoveryManager.test.js
  solidity/optics-core/test/cross-chain/SimpleMessage.test.js
  solidity/optics-core/test/cross-chain/crossChainTestUtils.js
  solidity/optics-core/test/cross-chain/generateTestChainConfigs.js
  typescript/src/chain.ts
  typescript/src/index.ts
  typescript/src/typechain/optics-core/GovernanceRouter.d.ts
  typescript/src/typechain/optics-core/TestGovernanceRouter.d.ts
  typescript/src/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
Labels: enhancement, solidity/js ♦️

#409 Processing Refactor
  .gitignore
  rust/optics-base/src/macros.rs
  rust/optics-base/src/replica.rs
  rust/optics-core/src/accumulator/incremental.rs
  rust/optics-core/src/accumulator/merkle.rs
  rust/optics-core/src/traits/replica.rs
  rust/optics-ethereum/abis/Replica.abi.json
  rust/optics-ethereum/src/replica.rs
  rust/optics-test/src/mocks/replica.rs
  rust/processor/src/processor.rs
  rust/processor/src/prover/mod.rs
  rust/processor/src/prover/prover_sync.rs
  rust/watcher/src/watcher.rs
  solidity/optics-core/contracts/Replica.sol
  solidity/optics-core/contracts/test/TestReplica.sol
  solidity/optics-core/test/Replica.test.js
  solidity/optics-core/test/cross-chain/SimpleMessage.test.js
  typescript/src/typechain/optics-core/Replica.d.ts
  typescript/src/typechain/optics-core/TestReplica.d.ts
  typescript/src/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/Home__factory.ts
  typescript/src/typechain/optics-core/factories/Replica__factory.ts
  typescript/src/typechain/optics-core/factories/TestCommon__factory.ts
  typescript/src/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/TestHome__factory.ts
  typescript/src/typechain/optics-core/factories/TestMessage__factory.ts
  typescript/src/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/src/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/src/typechain/optics-core/factories/TypedMemView__factory.ts
  typescript/src/typechain/optics-core/factories/UpdaterManager__factory.ts
  typescript/src/typechain/optics-core/factories/UpgradeBeaconProxy__factory.ts
  typescript/src/typechain/optics-core/factories/XAppConnectionManager__factory.ts
Labels: refactor, rust 🦀, solidity/js ♦️

#414 refactor: several rust improvements
  rust/config/1624038123856/kathy-partial.json
  rust/config/1624038123856/processor-partial.json
  rust/config/1624038123856/relayer-partial.json
  rust/config/1624038123856/updater-partial.json
  rust/optics-base/src/db/persistence.rs
  rust/optics-base/src/replica.rs
  rust/optics-core/src/accumulator/merkle.rs
  rust/optics-core/src/traits/replica.rs
  rust/optics-ethereum/abis/Replica.abi.json
  rust/optics-ethereum/src/replica.rs
  rust/optics-test/src/mocks/replica.rs
  rust/processor/src/processor.rs
  rust/processor/src/prover/mod.rs
  rust/processor/src/prover/prover_sync.rs
  rust/updater/src/updater.rs
  solidity/optics-core/contracts/Replica.sol
  typescript/src/typechain/optics-core/Replica.d.ts
  typescript/src/typechain/optics-core/TestReplica.d.ts
  typescript/src/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/Replica__factory.ts
  typescript/src/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/src/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/src/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/src/typechain/optics-core/factories/XAppConnectionManager__factory.ts
Labels: bug, rust 🦀

#424 refactor: clean up around ts tests
  typescript/optics-deploy/src/chain.ts
  typescript/optics-deploy/src/deployOptics.ts
  typescript/optics-deploy/src/devDeployOptics.ts
  typescript/optics-tests/lib/index.ts
  typescript/optics-tests/package-lock.json
  typescript/optics-tests/test/common.test.ts
  typescript/optics-tests/test/home.test.ts
  typescript/optics-tests/test/merkle.test.ts
  typescript/optics-tests/test/testChain.ts
Labels: solidity/js ♦️, testing, typescript

#401 test: home ts
  rust/optics-core/src/accumulator/incremental.rs
  rust/optics-core/src/test_output.rs
  rust/optics-core/src/test_utils.rs
  rust/processor/src/prover/mod.rs
  solidity/optics-core/test/Common.test.js
  solidity/optics-core/test/Home.test.js
  solidity/optics-core/test/Merkle.test.js
  solidity/optics-core/test/Message.test.js
  solidity/optics-core/test/Replica.test.js
  solidity/optics-core/test/XAppConnectionManager.test.js
  solidity/optics-core/test/cross-chain/SimpleMessage.test.js
  solidity/optics-core/test/utils.js
  typescript/optics-deploy/src/chain.ts
  typescript/optics-deploy/src/deployOptics.ts
  typescript/optics-deploy/src/devDeployOptics.ts
  typescript/optics-deploy/src/proxyUtils.ts
  typescript/optics-tests/lib/index.ts
  typescript/optics-tests/lib/types.ts
  typescript/optics-tests/package-lock.json
  typescript/optics-tests/test/common.test.ts
  typescript/optics-tests/test/home.test.ts
  typescript/optics-tests/test/merkle.test.ts
  typescript/optics-tests/test/testChain.ts
  typescript/optics-tests/tsconfig.json
  typescript/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/Replica__factory.ts
  typescript/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/typechain/optics-core/factories/XAppConnectionManager__factory.ts
  typescript/typechain/optics-xapps/Replica.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/Replica__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/typechain/optics-xapps/factories/XAppConnectionManager__factory.ts
  vectors/destinationSequence.json
  vectors/destinationSequenceTestCases.json
  vectors/homeDomainHash.json
  vectors/homeDomainHashTestCases.json
  vectors/merkle.json
  vectors/merkleTestCases.json
  vectors/message.json
  vectors/messageTestCases.json
  vectors/proveAndProcess.json
  vectors/proveAndProcessTestCases.json
  vectors/signedFailure.json
  vectors/signedFailureTestCases.json
  vectors/signedUpdate.json
  vectors/signedUpdateTestCases.json
Labels: typescript
