Repository celo-org/optics-monorepo, pull requests merged in 2021-09, with the labels that each got.

#696 feature: BridgeRouter forbids transfer to 0 addr
  rust/Cargo.lock
  solidity/optics-xapps/contracts/bridge/BridgeRouter.sol
  solidity/optics-xapps/contracts/bridge/test/TestBridgeMessage.sol
  typescript/optics-tests/package-lock.json
  typescript/optics-tests/test/bridge/bridge.test.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/TestBridgeMessage__factory.ts
  typescript/typechain/optics-xapps/hardhat.d.ts
  typescript/typechain/optics-xapps/index.ts
Labels: enhancement, solidity ♦️

#680 WIP: polish contract code
  rust/chains/optics-ethereum/abis/Home.abi.json
  solidity/optics-core/contracts/Common.sol
  solidity/optics-core/contracts/Home.sol
  solidity/optics-core/contracts/Merkle.sol
  solidity/optics-core/contracts/Queue.sol
  solidity/optics-core/contracts/Replica.sol
  solidity/optics-core/contracts/UpdaterManager.sol
  solidity/optics-core/contracts/Version0.sol
  solidity/optics-core/contracts/upgrade/UpgradeBeacon.sol
  solidity/optics-core/contracts/upgrade/UpgradeBeaconController.sol
  solidity/optics-core/contracts/upgrade/UpgradeBeaconProxy.sol
  solidity/optics-core/libs/Message.sol
  solidity/optics-xapps/contracts/bridge/BridgeMessage.sol
  solidity/optics-xapps/contracts/bridge/BridgeRouter.sol
  solidity/optics-xapps/contracts/bridge/BridgeToken.sol
  solidity/optics-xapps/contracts/bridge/ETHHelper.sol
  solidity/optics-xapps/contracts/bridge/Encoding.sol
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  typescript/optics-tests/test/home.test.ts
  typescript/optics-tests/test/replica.test.ts
  typescript/typechain/optics-core/Home.d.ts
  typescript/typechain/optics-core/TestHome.d.ts
  typescript/typechain/optics-core/UpdaterManager.d.ts
  typescript/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/Home__factory.ts
  typescript/typechain/optics-core/factories/MerkleTreeManager__factory.ts
  typescript/typechain/optics-core/factories/QueueManager__factory.ts
  typescript/typechain/optics-core/factories/Replica__factory.ts
  typescript/typechain/optics-core/factories/TestCommon__factory.ts
  typescript/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/TestHome__factory.ts
  typescript/typechain/optics-core/factories/TestMerkle__factory.ts
  typescript/typechain/optics-core/factories/TestMessage__factory.ts
  typescript/typechain/optics-core/factories/TestQueue__factory.ts
  typescript/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/typechain/optics-core/factories/UpdaterManager__factory.ts
  typescript/typechain/optics-core/factories/UpgradeBeaconController__factory.ts
  typescript/typechain/optics-core/factories/UpgradeBeaconProxy__factory.ts
  typescript/typechain/optics-core/factories/UpgradeBeacon__factory.ts
  typescript/typechain/optics-core/factories/XAppConnectionManager__factory.ts
  typescript/typechain/optics-xapps/Home.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/Home__factory.ts
  typescript/typechain/optics-xapps/factories/MerkleTreeManager__factory.ts
  typescript/typechain/optics-xapps/factories/MockCore__factory.ts
  typescript/typechain/optics-xapps/factories/MockWeth__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/QueueManager__factory.ts
  typescript/typechain/optics-xapps/factories/Replica__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/typechain/optics-xapps/factories/TestBridgeMessage__factory.ts
  typescript/typechain/optics-xapps/factories/TestEncoding__factory.ts
  typescript/typechain/optics-xapps/factories/UpgradeBeaconProxy__factory.ts
  typescript/typechain/optics-xapps/factories/XAppConnectionManager__factory.ts
Labels: solidity ♦️

#701 refactor: polling_interval -> interval, updater_pause -> pause
  rust/agents/kathy/src/kathy.rs
  rust/agents/kathy/src/settings.rs
  rust/agents/processor/src/processor.rs
  rust/agents/processor/src/settings.rs
  rust/agents/relayer/src/relayer.rs
  rust/agents/relayer/src/settings.rs
  rust/agents/updater/src/settings.rs
  rust/agents/updater/src/updater.rs
  rust/agents/watcher/src/settings.rs
  rust/agents/watcher/src/watcher.rs
  rust/config/1629741887167/kathy-partial.json
  rust/config/1629741887167/processor-partial.json
  rust/config/1629741887167/relayer-partial.json
  rust/config/1629741887167/updater-partial.json
  rust/config/1629741887167/watcher-partial.json
  rust/config/1629743021549/kathy-partial.json
  rust/config/1629743021549/processor-partial.json
  rust/config/1629743021549/relayer-partial.json
  rust/config/1629743021549/updater-partial.json
  rust/config/1629743021549/watcher-partial.json
  rust/config/1630513764971/kathy-partial.json
  rust/config/1630513764971/processor-partial.json
  rust/config/1630513764971/relayer-partial.json
  rust/config/1630513764971/updater-partial.json
  rust/config/1630513764971/watcher-partial.json
  rust/helm/optics-agent/templates/kathy-statefulset.yaml
  rust/helm/optics-agent/templates/processor-statefulset.yaml
  rust/helm/optics-agent/templates/relayer-statefulset.yaml
  rust/helm/optics-agent/templates/updater-statefulset.yaml
Labels: rust 🦀, agents

#699 docs: add debug for Workflows
  docs/contributing.md
Labels: documentation

#703 Remove queue from Replica
  rust/README.md
  rust/agents/processor/src/main.rs
  rust/agents/processor/src/processor.rs
  rust/agents/relayer/src/main.rs
  rust/agents/relayer/src/relayer.rs
  rust/chains/optics-ethereum/abis/Replica.abi.json
  rust/chains/optics-ethereum/src/replica.rs
  rust/optics-base/src/replica.rs
  rust/optics-core/src/models/replica.rs
  rust/optics-core/src/traits/replica.rs
  rust/optics-test/src/mocks/replica.rs
  solidity/optics-core/contracts/Common.sol
  solidity/optics-core/contracts/Home.sol
  solidity/optics-core/contracts/Queue.sol
  solidity/optics-core/contracts/Replica.sol
  typescript/optics-tests/test/cross-chain/governanceRouter.test.ts
  typescript/optics-tests/test/cross-chain/simpleMessage.test.ts
  typescript/optics-tests/test/cross-chain/utils.ts
  typescript/optics-tests/test/replica.test.ts
  typescript/typechain/optics-core/Common.d.ts
  typescript/typechain/optics-core/Replica.d.ts
  typescript/typechain/optics-core/TestCommon.d.ts
  typescript/typechain/optics-core/TestReplica.d.ts
  typescript/typechain/optics-core/factories/Common__factory.ts
  typescript/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/Home__factory.ts
  typescript/typechain/optics-core/factories/QueueManager__factory.ts
  typescript/typechain/optics-core/factories/Replica__factory.ts
  typescript/typechain/optics-core/factories/TestCommon__factory.ts
  typescript/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/TestHome__factory.ts
  typescript/typechain/optics-core/factories/TestMessage__factory.ts
  typescript/typechain/optics-core/factories/TestQueue__factory.ts
  typescript/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/typechain/optics-core/factories/UpdaterManager__factory.ts
  typescript/typechain/optics-core/factories/XAppConnectionManager__factory.ts
  typescript/typechain/optics-xapps/Common.d.ts
  typescript/typechain/optics-xapps/Replica.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/Common__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/Home__factory.ts
  typescript/typechain/optics-xapps/factories/MockCore__factory.ts
  typescript/typechain/optics-xapps/factories/MockWeth__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/QueueManager__factory.ts
  typescript/typechain/optics-xapps/factories/Replica__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/typechain/optics-xapps/factories/XAppConnectionManager__factory.ts
Labels: solidity ♦️, refactor

#711 docs: make casing consistent for usage of 'xApp' in README
  README.md
  docs/faq.md
Labels: documentation

#712 document: deploy procedure
  README.md
  docs/README.md
  docs/agents/agent-operations.md
  docs/architecture.md
  docs/images/Optics-Architecture.png
  docs/images/Optics-Architecture.svg
Labels: documentation, solidity ♦️, agents

#670 rust agents: expose prometheus metrics
  rust/Cargo.lock
  rust/agents/kathy/src/kathy.rs
  rust/agents/kathy/src/main.rs
  rust/agents/processor/Cargo.toml
  rust/agents/processor/src/main.rs
  rust/agents/processor/src/processor.rs
  rust/agents/relayer/src/main.rs
  rust/agents/relayer/src/relayer.rs
  rust/agents/updater/Cargo.toml
  rust/agents/updater/src/main.rs
  rust/agents/updater/src/updater.rs
  rust/agents/watcher/Cargo.toml
  rust/agents/watcher/src/main.rs
  rust/agents/watcher/src/watcher.rs
  rust/config/default/base.json
  rust/optics-base/Cargo.toml
  rust/optics-base/src/agent.rs
  rust/optics-base/src/lib.rs
  rust/optics-base/src/metrics.rs
  rust/optics-base/src/settings/mod.rs
Labels: enhancement, rust 🦀

#727 feature: make PROCESS_GAS immutable
  rust/chains/optics-ethereum/abis/Home.abi.json
  rust/chains/optics-ethereum/abis/Replica.abi.json
  solidity/optics-core/contracts/Replica.sol
  solidity/optics-core/contracts/Version0.sol
  solidity/optics-core/contracts/test/TestReplica.sol
  typescript/optics-deploy/config/testnets/alfajores.ts
  typescript/optics-deploy/config/testnets/kovan.ts
  typescript/optics-deploy/config/testnets/rinkeby.ts
  typescript/optics-deploy/src/core/CoreDeploy.ts
  typescript/optics-deploy/src/core/index.ts
  typescript/optics-tests/test/testChain.ts
  typescript/typechain/optics-core/GovernanceRouter.d.ts
  typescript/typechain/optics-core/Home.d.ts
  typescript/typechain/optics-core/Replica.d.ts
  typescript/typechain/optics-core/TestGovernanceRouter.d.ts
  typescript/typechain/optics-core/TestHome.d.ts
  typescript/typechain/optics-core/TestReplica.d.ts
  typescript/typechain/optics-core/Version0.d.ts
  typescript/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/Home__factory.ts
  typescript/typechain/optics-core/factories/Replica__factory.ts
  typescript/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/TestHome__factory.ts
  typescript/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/typechain/optics-core/factories/UpdaterManager__factory.ts
  typescript/typechain/optics-core/factories/Version0__factory.ts
  typescript/typechain/optics-core/factories/XAppConnectionManager__factory.ts
  typescript/typechain/optics-core/hardhat.d.ts
  typescript/typechain/optics-core/index.ts
  typescript/typechain/optics-xapps/BridgeRouter.d.ts
  typescript/typechain/optics-xapps/BridgeToken.d.ts
  typescript/typechain/optics-xapps/Home.d.ts
  typescript/typechain/optics-xapps/MockWeth.d.ts
  typescript/typechain/optics-xapps/Replica.d.ts
  typescript/typechain/optics-xapps/Version0.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/Home__factory.ts
  typescript/typechain/optics-xapps/factories/MockWeth__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/Replica__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/typechain/optics-xapps/factories/Version0__factory.ts
  typescript/typechain/optics-xapps/factories/XAppConnectionManager__factory.ts
  typescript/typechain/optics-xapps/hardhat.d.ts
  typescript/typechain/optics-xapps/index.ts
Labels: solidity ♦️, typescript

#726 refactor: update poller loop behavior to reduce latency
  rust/agents/updater/src/updater.rs
Labels: rust 🦀, agents

#716 docs: developing agents doc
  docs/agents/developing.md
Labels: documentation

#735 bug: metrics no longer panics when attempting to register multiple replicas
  rust/agents/processor/src/processor.rs
  rust/agents/updater/src/updater.rs
  rust/optics-base/src/metrics.rs
Labels: bug, rust 🦀

#745 feature: do not output rpc url in deploy output
  typescript/optics-deploy/src/chain.ts
  typescript/optics-deploy/src/core/CoreDeploy.ts
Labels: chore, fix

#749 refactor: make kathy sleep at top of loop
  rust/agents/kathy/src/kathy.rs
Labels: rust 🦀, agents

#751 Events: Process and Send
  rust/chains/optics-ethereum/abis/Replica.abi.json
  solidity/optics-core/contracts/Replica.sol
  solidity/optics-xapps/contracts/bridge/BridgeRouter.sol
  typescript/optics-tests/test/bridge/bridge.test.ts
  typescript/optics-tests/test/replica.test.ts
  typescript/typechain/optics-core/Replica.d.ts
  typescript/typechain/optics-core/TestReplica.d.ts
  typescript/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/Replica__factory.ts
  typescript/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/typechain/optics-core/factories/XAppConnectionManager__factory.ts
  typescript/typechain/optics-xapps/BridgeRouter.d.ts
  typescript/typechain/optics-xapps/Replica.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/MockWeth__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/Replica__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/typechain/optics-xapps/factories/XAppConnectionManager__factory.ts
Labels: solidity ♦️

#757 defense: prevent copying long returndata in replica.process
  solidity/optics-core/contracts/Replica.sol
  typescript/optics-tests/package-lock.json
  typescript/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/Replica__factory.ts
  typescript/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/typechain/optics-core/factories/XAppConnectionManager__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/MockWeth__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/Replica__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/typechain/optics-xapps/factories/XAppConnectionManager__factory.ts
Labels: solidity ♦️

#744 feature: use 15-character names to avoid MetaMask blowup
  solidity/optics-xapps/contracts/bridge/Encoding.sol
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  solidity/optics-xapps/contracts/bridge/test/TestEncoding.sol
  typescript/optics-tests/test/bridge/bridge.test.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/MockWeth__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/Replica__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/typechain/optics-xapps/factories/TestEncoding__factory.ts
  typescript/typechain/optics-xapps/factories/XAppConnectionManager__factory.ts
Labels: solidity ♦️, fix

#694 wip: mainnet deploy configs
  typescript/optics-deploy/config/mainnets/celo.ts
  typescript/optics-deploy/config/mainnets/ethereum.ts
  typescript/optics-deploy/config/mainnets/polygon.ts
  typescript/optics-deploy/scripts/mainnet/bridge.ts
  typescript/optics-deploy/scripts/mainnet/core.ts
Labels: typescript

#753 enhancement: disable ping-pong xApp deploy
  solidity/optics-xapps/contracts/ping-pong/PingPongRouter.sol
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/hardhat.d.ts
  typescript/typechain/optics-xapps/index.ts
Labels: fix

#766 enhancement: check verification
  rust/config/1630962358898/alfajores_verification.json
  rust/config/1630962358898/bridge/1631040934249/alfajores_verification.json
  rust/config/1630962358898/bridge/1631040934249/kovan_verification.json
  rust/config/1630962358898/bridge/1631040934249/rinkeby_verification.json
  rust/config/1630962358898/kovan_verification.json
  rust/config/1630962358898/rinkeby_verification.json
  rust/config/1631125589812/alfajores_verification.json
  rust/config/1631125589812/bridge/1631126158135/alfajores_verification.json
  rust/config/1631125589812/bridge/1631126158135/kovan_verification.json
  rust/config/1631125589812/bridge/1631126158135/rinkeby_verification.json
  rust/config/1631125589812/kovan_verification.json
  rust/config/1631125589812/rinkeby_verification.json
  rust/config/mainnet/bridge/1631143085018/celo_verification.json
  rust/config/mainnet/bridge/1631143085018/ethereum_verification.json
  rust/config/mainnet/bridge/1631143085018/polygon_verification.json
  rust/config/mainnet/celo_verification.json
  rust/config/mainnet/ethereum_verification.json
  rust/config/mainnet/polygon_verification.json
  typescript/optics-deploy/src/bridge/checks.ts
  typescript/optics-deploy/src/bridge/index.ts
  typescript/optics-deploy/src/core/checks.ts
  typescript/optics-deploy/src/core/index.ts
  typescript/optics-deploy/src/deploy.ts
  typescript/optics-deploy/src/proxyUtils.ts
  typescript/optics-deploy/src/verification/readDeployOutput.ts
  typescript/optics-tests/test/cross-chain/governanceRouter.test.ts
  typescript/optics-tests/test/deploy.test.ts
Labels: bug, enhancement, testing, typescript

#768 prestwich/home indexing
  rust/Cargo.lock
  rust/agents/processor/src/processor.rs
  rust/agents/processor/src/prover.rs
  rust/agents/processor/src/prover_sync.rs
  rust/agents/updater/src/main.rs
  rust/agents/updater/src/updater.rs
  rust/agents/watcher/src/watcher.rs
  rust/chains/optics-ethereum/Cargo.toml
  rust/chains/optics-ethereum/src/home.rs
  rust/chains/optics-ethereum/src/settings.rs
  rust/config/1630962358898/kovan_config.json
  rust/config/mainnet/celo_config.json
  rust/config/mainnet/ethereum_config.json
  rust/config/mainnet/polygon_config.json
  rust/db_path/000009.sst
  rust/db_path/000011.log
  rust/db_path/CURRENT
  rust/db_path/IDENTITY
  rust/db_path/LOCK
  rust/db_path/LOG
  rust/db_path/LOG.old.1631307913739106
  rust/db_path/MANIFEST-000010
  rust/db_path/OPTIONS-000007
  rust/db_path/OPTIONS-000013
  rust/optics-base/src/agent.rs
  rust/optics-base/src/db/mod.rs
  rust/optics-base/src/db/persistence.rs
  rust/optics-base/src/home.rs
  rust/optics-base/src/lib.rs
  rust/optics-base/src/settings/chains.rs
  rust/optics-base/src/settings/mod.rs
  rust/optics-core/Cargo.toml
  rust/optics-core/src/db/iterator.rs
  rust/optics-core/src/db/mod.rs
  rust/optics-core/src/lib.rs
  rust/optics-core/src/traits/encode.rs
  rust/optics-core/src/traits/home.rs
  rust/optics-core/src/types/messages.rs
  rust/optics-test/Cargo.toml
  rust/optics-test/src/mocks/home.rs
  rust/optics-test/src/test_utils.rs
  vectors/message.json
Labels: rust 🦀, agents

#763 a multi-provider and tool for interacting with deployed contracts
  typescript/optics-provider/.prettierrc
  typescript/optics-provider/package-lock.json
  typescript/optics-provider/package.json
  typescript/optics-provider/src/contracts.ts
  typescript/optics-provider/src/domains.ts
  typescript/optics-provider/src/index.ts
  typescript/optics-provider/src/metamask.ts
  typescript/optics-provider/src/optics/OpticsContext.ts
  typescript/optics-provider/src/optics/contracts/BridgeContracts.ts
  typescript/optics-provider/src/optics/contracts/CoreContracts.ts
  typescript/optics-provider/src/optics/domains/dev.ts
  typescript/optics-provider/src/optics/domains/domain.ts
  typescript/optics-provider/src/optics/domains/index.ts
  typescript/optics-provider/src/optics/domains/mainnet.ts
  typescript/optics-provider/src/optics/domains/staging.ts
  typescript/optics-provider/src/optics/index.ts
  typescript/optics-provider/src/optics/messages/BridgeMessage.ts
  typescript/optics-provider/src/optics/messages/OpticsMessage.ts
  typescript/optics-provider/src/optics/sendCoins.ts
  typescript/optics-provider/src/optics/tokens.ts
  typescript/optics-provider/src/provider.ts
  typescript/optics-provider/src/utils.ts
  typescript/optics-provider/tsconfig.json
Labels: typescript

#774 refactor: improve db and test roundtrip store/load
  rust/.gitignore
  rust/agents/processor/src/processor.rs
  rust/agents/processor/src/prover_sync.rs
  rust/chains/optics-ethereum/src/home.rs
  rust/chains/optics-ethereum/src/macros.rs
  rust/optics-base/src/agent.rs
  rust/optics-core/src/db/mod.rs
  rust/optics-core/src/traits/home.rs
  rust/optics-core/src/traits/mod.rs
  rust/optics-core/src/types/messages.rs
  rust/optics-test/src/test_utils.rs
Labels: rust 🦀, agents

#781 Prover sync refactoring
  rust/Cargo.lock
  rust/Cargo.toml
  rust/Dockerfile
  rust/agents/kathy/src/main.rs
  rust/agents/processor/src/main.rs
  rust/agents/processor/src/processor.rs
  rust/agents/processor/src/prover_sync.rs
  rust/agents/relayer/src/main.rs
  rust/agents/updater/src/main.rs
  rust/chains/optics-ethereum/src/settings.rs
  rust/optics-base/bin/example.rs
  rust/optics-base/src/agent.rs
Labels: rust 🦀, agents

#779 feature: send functions return a useful TransferMessage object
  typescript/optics-provider/.gitignore
  typescript/optics-provider/README.md
  typescript/optics-provider/package-lock.json
  typescript/optics-provider/package.json
  typescript/optics-provider/src/optics/OpticsContext.ts
  typescript/optics-provider/src/optics/contracts/index.ts
  typescript/optics-provider/src/optics/index.ts
  typescript/optics-provider/src/optics/messages/BridgeMessage.ts
  typescript/optics-provider/src/optics/messages/OpticsMessage.ts
  typescript/optics-provider/src/optics/messages/index.ts
  typescript/optics-provider/src/optics/sendCoins.ts
  typescript/optics-provider/src/optics/tokens.ts
  typescript/optics-provider/src/utils.ts
Labels: typescript

#791 bug: ProverSync from_disk now properly recovers tree state, proofs, etc.
  rust/agents/processor/src/processor.rs
  rust/agents/processor/src/prover.rs
  rust/agents/processor/src/prover_sync.rs
  rust/chains/optics-ethereum/src/macros.rs
  rust/optics-core/src/db/mod.rs
Labels: rust 🦀, agents

#797 refactor: remove all relative imports in TS
  typescript/optics-deploy/.gitignore
  typescript/optics-deploy/package-lock.json
  typescript/optics-deploy/package.json
  typescript/optics-deploy/scripts/mainnet/core.ts
  typescript/optics-deploy/src/bridge/BridgeContracts.ts
  typescript/optics-deploy/src/bridge/TestBridgeDeploy.ts
  typescript/optics-deploy/src/bridge/checks.ts
  typescript/optics-deploy/src/bridge/index.ts
  typescript/optics-deploy/src/chain.ts
  typescript/optics-deploy/src/core/CoreContracts.ts
  typescript/optics-deploy/src/core/CoreDeploy.ts
  typescript/optics-deploy/src/core/checks.ts
  typescript/optics-deploy/src/core/index.ts
  typescript/optics-deploy/src/deploy.ts
  typescript/optics-deploy/src/proxyUtils.ts
  typescript/optics-deploy/src/utils.ts
  typescript/optics-deploy/tsconfig.json
  typescript/optics-provider/.npmignore
  typescript/optics-provider/package-lock.json
  typescript/optics-provider/package.json
  typescript/optics-provider/src/optics/index.ts
  typescript/optics-provider/tsconfig.json
  typescript/optics-provider/tsconfig.tsbuildinfo
  typescript/optics-tests/.gitignore
  typescript/optics-tests/hardhat.config.ts
  typescript/optics-tests/lib/bridge.ts
  typescript/optics-tests/lib/core.ts
  typescript/optics-tests/lib/permit.ts
  typescript/optics-tests/lib/types.ts
  typescript/optics-tests/package-lock.json
  typescript/optics-tests/package.json
  typescript/optics-tests/test/bridge/BridgeToken.test.ts
  typescript/optics-tests/test/bridge/EthHelper.test.ts
  typescript/optics-tests/test/bridge/bridge.test.ts
  typescript/optics-tests/test/bridge/bridgeMessage.test.ts
  typescript/optics-tests/test/bridge/encoding.test.ts
  typescript/optics-tests/test/common.test.ts
  typescript/optics-tests/test/cross-chain/governanceRouter.test.ts
  typescript/optics-tests/test/cross-chain/recoveryManager.test.ts
  typescript/optics-tests/test/cross-chain/simpleMessage.test.ts
  typescript/optics-tests/test/cross-chain/utils.ts
  typescript/optics-tests/test/deploy.test.ts
  typescript/optics-tests/test/home.test.ts
  typescript/optics-tests/test/merkle.test.ts
  typescript/optics-tests/test/message.test.ts
  typescript/optics-tests/test/multiProvider.test.ts
  typescript/optics-tests/test/queue.test.ts
  typescript/optics-tests/test/replica.test.ts
  typescript/optics-tests/test/testChain.ts
  typescript/optics-tests/test/upgrade.test.ts
  typescript/optics-tests/test/utils.ts
  typescript/optics-tests/test/xAppConnectionManager.test.ts
  typescript/optics-tests/tsconfig.json
  typescript/typechain/optics-xapps/hardhat.d.ts
  typescript/typechain/optics-xapps/index.ts
  typescript/typechain/package-lock.json
  typescript/typechain/package.json
Labels: typescript

#800 fix: context resolves tokens to BridgeToken not raw ERC20
  typescript/optics-provider/package-lock.json
  typescript/optics-provider/package.json
  typescript/optics-provider/src/optics/OpticsContext.ts
  typescript/optics-provider/src/optics/tokens/index.ts
  typescript/optics-provider/tsconfig.tsbuildinfo
Labels: typescript

#759 feature: record span durations as a metric
  rust/agents/kathy/src/main.rs
  rust/agents/processor/src/main.rs
  rust/agents/relayer/src/main.rs
  rust/agents/updater/src/main.rs
  rust/agents/watcher/src/main.rs
  rust/agents/watcher/src/watcher.rs
  rust/chains/optics-ethereum/src/settings.rs
  rust/optics-base/bin/example.rs
  rust/optics-base/src/agent.rs
  rust/optics-base/src/metrics.rs
  rust/optics-base/src/settings/chains.rs
  rust/optics-base/src/settings/mod.rs
  rust/optics-base/src/settings/trace/mod.rs
  rust/optics-base/src/settings/trace/span_metrics.rs
Labels: enhancement, rust 🦀, agents

#803 refactor: deduplicate db keys by adding `HomeDB`
  rust/agents/processor/src/processor.rs
  rust/agents/processor/src/prover_sync.rs
  rust/agents/updater/src/updater.rs
  rust/chains/optics-ethereum/src/home.rs
  rust/optics-core/src/db/home_db.rs
  rust/optics-core/src/db/iterator.rs
  rust/optics-core/src/db/mod.rs
  rust/optics-core/src/db/typed_db.rs
  rust/optics-test/src/test_utils.rs
Labels: rust 🦀, refactor, agents

#824 fix: fix potential out-of-order updates when `HomeIndexer` syncing
  rust/agents/processor/src/prover_sync.rs
  rust/agents/updater/src/updater.rs
  rust/agents/watcher/src/watcher.rs
  rust/chains/optics-ethereum/src/home.rs
  rust/optics-core/src/db/home_db.rs
Labels: bug, rust 🦀, agents

#819 metrics 404 message
  rust/optics-base/src/metrics.rs
Labels: rust 🦀, agents

#839 feature: optionally skip replica tasks
  rust/agents/processor/src/processor.rs
  rust/agents/processor/src/settings.rs
Labels: rust 🦀, agents

#799 add: testnet wellKnown
  typescript/optics-provider/src/optics/domains/index.ts
  typescript/optics-provider/src/optics/index.ts
  typescript/optics-provider/src/optics/tokens/index.ts
  typescript/optics-provider/src/optics/tokens/testnetWellKnown.ts
  typescript/optics-provider/src/optics/tokens/wellKnown.ts
Labels: typescript

#823 Prestwich/prove cli
  rust/Cargo.lock
  rust/Cargo.toml
  rust/Dockerfile
  rust/tools/kms-cli/Cargo.toml
  rust/tools/kms-cli/src/main.rs
  rust/tools/prove-cli/Cargo.toml
  rust/tools/prove-cli/README.md
  rust/tools/prove-cli/src/main.rs
  rust/tools/prove-cli/src/replicas.rs
  rust/tools/prove-cli/src/rpc.rs
  typescript/optics-provider/src/tmp.ts
Labels: enhancement, rust 🦀

#842 feat/refactor: Multi-Provider improvements
  .gitignore
  typescript/optics-provider/.gitignore
  typescript/optics-provider/package-lock.json
  typescript/optics-provider/package.json
  typescript/optics-provider/src/contracts.ts
  typescript/optics-provider/src/domains.ts
  typescript/optics-provider/src/index.ts
  typescript/optics-provider/src/optics/OpticsContext.ts
  typescript/optics-provider/src/optics/contracts/BridgeContracts.ts
  typescript/optics-provider/src/optics/contracts/CoreContracts.ts
  typescript/optics-provider/src/optics/domains/dev.ts
  typescript/optics-provider/src/optics/domains/mainnet.ts
  typescript/optics-provider/src/optics/domains/staging.ts
  typescript/optics-provider/src/optics/events/bridgeEvents.ts
  typescript/optics-provider/src/optics/events/fetch.ts
  typescript/optics-provider/src/optics/events/index.ts
  typescript/optics-provider/src/optics/events/opticsEvents.ts
  typescript/optics-provider/src/optics/examples/sendCoins.ts
  typescript/optics-provider/src/optics/index.ts
  typescript/optics-provider/src/optics/messages/BridgeMessage.ts
  typescript/optics-provider/src/optics/messages/OpticsMessage.ts
  typescript/optics-provider/src/optics/tokens/testnetWellKnown.ts
  typescript/optics-provider/src/provider.ts
  typescript/optics-provider/tsconfig.json
  typescript/optics-provider/tsconfig.tsbuildinfo
  typescript/tsconfig.package.json
Labels: typescript

#858 fix: multi-provider nits / fixes
  typescript/optics-provider/src/optics/contracts/BridgeContracts.ts
  typescript/optics-provider/src/optics/contracts/CoreContracts.ts
  typescript/optics-provider/src/optics/events/fetch.ts
  typescript/optics-provider/src/optics/messages/BridgeMessage.ts
  typescript/optics-provider/src/optics/messages/OpticsMessage.ts
Labels: typescript
