Repository celo-org/optics-monorepo, pull requests merged in 2021-08, with the labels that each got.

#512 Deploy Refactor + Upgradable Bridge Router
  solidity/optics-xapps/contracts/XAppConnectionClient.sol
  solidity/optics-xapps/contracts/bridge/BridgeRouter.sol
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  solidity/optics-xapps/contracts/ping-pong/PingPongRouter.sol
  solidity/optics-xapps/contracts/xapp-template/RouterTemplate.sol
  typescript/optics-deploy/config/alfajores.ts
  typescript/optics-deploy/config/kovan.ts
  typescript/optics-deploy/package-lock.json
  typescript/optics-deploy/package.json
  typescript/optics-deploy/scripts/alfajoresKovan.ts
  typescript/optics-deploy/scripts/bridgeAlfajoresKovan.ts
  typescript/optics-deploy/src/bridge.ts
  typescript/optics-deploy/src/bridge/index.ts
  typescript/optics-deploy/src/chain.ts
  typescript/optics-deploy/src/contracts.ts
  typescript/optics-deploy/src/core/index.ts
  typescript/optics-deploy/src/deploy.ts
  typescript/optics-deploy/src/index.ts
  typescript/optics-deploy/src/proxyUtils.ts
  typescript/optics-deploy/src/readDeployOutput.ts
  typescript/optics-tests/test/cross-chain/governanceRouter.test.ts
  typescript/optics-tests/test/cross-chain/recoveryManager.test.ts
  typescript/optics-tests/test/cross-chain/simpleMessage.test.ts
  typescript/optics-tests/test/home.test.ts
  typescript/optics-tests/test/replica.test.ts
  typescript/optics-tests/test/testChain.ts
  typescript/optics-tests/test/utils.ts
  typescript/optics-tests/test/xAppConnectionManager.test.ts
  typescript/optics-tests/tsconfig.json
  typescript/typechain/optics-core/IERC20.d.ts
  typescript/typechain/optics-core/MaliciousRecipient.d.ts
  typescript/typechain/optics-core/factories/IERC20__factory.ts
  typescript/typechain/optics-core/factories/MaliciousRecipient__factory.ts
  typescript/typechain/optics-core/hardhat.d.ts
  typescript/typechain/optics-core/index.ts
  typescript/typechain/optics-xapps/BridgeRouter.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
Labels: solidity ♦️, typescript

#510 feature: Add Permit to BridgeToken
  solidity/optics-xapps/contracts/bridge/BridgeToken.sol
  solidity/optics-xapps/contracts/bridge/OZERC20.sol
  typescript/optics-tests/lib/permit.ts
  typescript/optics-tests/package-lock.json
  typescript/optics-tests/package.json
  typescript/optics-tests/test/xapps/BridgeToken.test.ts
  typescript/typechain/optics-xapps/BridgeToken.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/ERC20__factory.ts
Labels: blocked, solidity ♦️

#516 refactor: add aws signer
  rust/Cargo.lock
  rust/optics-base/Cargo.toml
  rust/optics-base/bin/print_address.rs
  rust/optics-base/src/settings/mod.rs
  rust/optics-core/Cargo.toml
  rust/optics-core/bin/toy.rs
  rust/optics-core/src/lib.rs
  rust/optics-core/src/models/home.rs
  rust/optics-core/src/test_output.rs
  rust/optics-ethereum/Cargo.toml
  rust/optics-ethereum/src/home.rs
  rust/optics-ethereum/src/replica.rs
  rust/optics-ethereum/src/settings.rs
  rust/optics-ethereum/src/xapp.rs
  rust/updater/src/updater.rs
  rust/watcher/src/watcher.rs
Labels: enhancement, refactor, rust 🦀

#513 feature: eth send helper contract
  solidity/optics-xapps/contracts/bridge/ETHHelper.sol
  solidity/optics-xapps/interfaces/bridge/IWeth.sol
  typescript/optics-deploy/config/alfajores.ts
  typescript/optics-deploy/config/kovan.ts
  typescript/optics-deploy/scripts/bridgeAlfajoresKovan.ts
  typescript/optics-deploy/src/bridge/index.ts
  typescript/optics-deploy/src/contracts.ts
  typescript/optics-deploy/src/deploy.ts
  typescript/typechain/optics-xapps/ETHHelper.d.ts
  typescript/typechain/optics-xapps/IWeth.d.ts
  typescript/typechain/optics-xapps/WETH.d.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/IWeth__factory.ts
  typescript/typechain/optics-xapps/factories/WETH__factory.ts
  typescript/typechain/optics-xapps/hardhat.d.ts
  typescript/typechain/optics-xapps/index.ts
Labels: solidity ♦️

#523 Add external repr/canonical lookup methods
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  typescript/typechain/optics-xapps/BridgeRouter.d.ts
  typescript/typechain/optics-xapps/TestFastLiquidity.d.ts
  typescript/typechain/optics-xapps/TokenRegistry.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/TestFastLiquidity__factory.ts
  typescript/typechain/optics-xapps/factories/TestXappConnectionManager__factory.ts
  typescript/typechain/optics-xapps/factories/TokenRegistry__factory.ts
Labels: enhancement, solidity ♦️

#517 feature: updated default token name/symbol
  solidity/optics-xapps/contracts/bridge/BridgeRouter.sol
  solidity/optics-xapps/contracts/bridge/BridgeToken.sol
  solidity/optics-xapps/contracts/bridge/Encoding.sol
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  solidity/optics-xapps/contracts/bridge/test/TestEncoding.sol
  solidity/optics-xapps/interfaces/bridge/IBridgeToken.sol
  typescript/optics-tests/test/bridge/encoding.test.ts
  typescript/typechain/optics-xapps/BridgeToken.d.ts
  typescript/typechain/optics-xapps/IBridgeToken.d.ts
  typescript/typechain/optics-xapps/TestEncoding.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/IBridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/TestEncoding__factory.ts
  typescript/typechain/optics-xapps/factories/TestFastLiquidity__factory.ts
  typescript/typechain/optics-xapps/factories/TestXappConnectionManager__factory.ts
  typescript/typechain/optics-xapps/factories/WETH__factory.ts
  typescript/typechain/optics-xapps/hardhat.d.ts
  typescript/typechain/optics-xapps/index.ts
Labels: solidity ♦️

#533 docs: improve documentation of Encoding library
  solidity/optics-xapps/contracts/bridge/Encoding.sol
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  typescript/typechain/optics-xapps/OwnableUpgradeable.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/OwnableUpgradeable__factory.ts
  typescript/typechain/optics-xapps/factories/TestEncoding__factory.ts
  typescript/typechain/optics-xapps/factories/TestFastLiquidity__factory.ts
  typescript/typechain/optics-xapps/factories/TestXappConnectionManager__factory.ts
  typescript/typechain/optics-xapps/hardhat.d.ts
  typescript/typechain/optics-xapps/index.ts
Labels: documentation, solidity ♦️

#530 bug: #526 use OwnableUpgradable in proxied contracts
  solidity/optics-xapps/contracts/Router.sol
  solidity/optics-xapps/contracts/XAppConnectionClient.sol
  solidity/optics-xapps/contracts/bridge/BridgeRouter.sol
  solidity/optics-xapps/contracts/bridge/BridgeToken.sol
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  solidity/optics-xapps/contracts/bridge/test/TestFastLiquidity.sol
  solidity/optics-xapps/contracts/bridge/vendored/OZERC20.sol
  solidity/optics-xapps/interfaces/bridge/IBridgeToken.sol
  solidity/optics-xapps/package-lock.json
  solidity/optics-xapps/package.json
  typescript/typechain/optics-xapps/BridgeRouter.d.ts
  typescript/typechain/optics-xapps/BridgeToken.d.ts
  typescript/typechain/optics-xapps/IBridgeToken.d.ts
  typescript/typechain/optics-xapps/PingPongRouter.d.ts
  typescript/typechain/optics-xapps/Router.d.ts
  typescript/typechain/optics-xapps/RouterTemplate.d.ts
  typescript/typechain/optics-xapps/TestFastLiquidity.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/ERC20__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/IBridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/typechain/optics-xapps/factories/Router__factory.ts
  typescript/typechain/optics-xapps/factories/TestEncoding__factory.ts
  typescript/typechain/optics-xapps/factories/TestFastLiquidity__factory.ts
  typescript/typechain/optics-xapps/factories/TestXappConnectionManager__factory.ts
  typescript/typechain/optics-xapps/hardhat.d.ts
  typescript/typechain/optics-xapps/index.ts
Labels: solidity ♦️

#511 feature: allow custom token representations
  solidity/optics-xapps/contracts/bridge/BridgeRouter.sol
  solidity/optics-xapps/contracts/bridge/BridgeToken.sol
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  solidity/optics-xapps/contracts/bridge/vendored/OZERC20.sol
  solidity/optics-xapps/interfaces/bridge/IBridgeToken.sol
  typescript/optics-tests/test/bridge/fastLiquidity.test.ts
  typescript/typechain/optics-xapps/BridgeRouter.d.ts
  typescript/typechain/optics-xapps/IBridgeToken.d.ts
  typescript/typechain/optics-xapps/TestFastLiquidity.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/ERC20__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/IBridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/TestFastLiquidity__factory.ts
Labels: solidity ♦️

#549 Prestwich/bridge double init
  solidity/optics-xapps/contracts/Router.sol
  solidity/optics-xapps/contracts/XAppConnectionClient.sol
  solidity/optics-xapps/contracts/bridge/BridgeRouter.sol
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  solidity/optics-xapps/contracts/bridge/test/TestFastLiquidity.sol
  solidity/optics-xapps/contracts/ping-pong/PingPongRouter.sol
  solidity/optics-xapps/contracts/xapp-template/RouterTemplate.sol
  typescript/optics-deploy/src/bridge/index.ts
  typescript/optics-tests/test/bridge/fastLiquidity.test.ts
  typescript/typechain/optics-xapps/BridgeRouter.d.ts
  typescript/typechain/optics-xapps/PingPongRouter.d.ts
  typescript/typechain/optics-xapps/Router.d.ts
  typescript/typechain/optics-xapps/RouterTemplate.d.ts
  typescript/typechain/optics-xapps/TestFastLiquidity.d.ts
  typescript/typechain/optics-xapps/TokenRegistry.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/typechain/optics-xapps/factories/Router__factory.ts
  typescript/typechain/optics-xapps/factories/TestFastLiquidity__factory.ts
  typescript/typechain/optics-xapps/factories/TokenRegistry__factory.ts
  typescript/typechain/optics-xapps/hardhat.d.ts
  typescript/typechain/optics-xapps/index.ts
Labels: solidity ♦️, refactor

#550 test: basic BridgeRouter.handle test
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  typescript/optics-deploy/src/bridge/TestBridgeDeploy.ts
  typescript/optics-tests/test/bridge/bridge.test.ts
  typescript/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/Home__factory.ts
  typescript/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/TestHome__factory.ts
  typescript/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/typechain/optics-core/factories/UpdaterManager__factory.ts
  typescript/typechain/optics-core/factories/XAppConnectionManager__factory.ts
  typescript/typechain/optics-xapps/TestFastLiquidity.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/TestFastLiquidity__factory.ts
Labels: solidity ♦️, testing, typescript

#536 feat: requestDetails + BridgeMessage action identifiers
  solidity/optics-core/package-lock.json
  solidity/optics-xapps/contracts/bridge/BridgeMessage.sol
  solidity/optics-xapps/contracts/bridge/BridgeRouter.sol
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  solidity/optics-xapps/package-lock.json
  typescript/optics-tests/test/bridge/bridge.test.ts
  typescript/typechain/optics-xapps/BridgeRouter.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
Labels: solidity ♦️

#556 Fresh deploy
  rust/config/1628705076286/alfajores_config.json
  rust/config/1628705076286/alfajores_contracts.json
  rust/config/1628705076286/alfajores_verification.json
  rust/config/1628705076286/bridge/1628710755130/alfajores_contracts.json
  rust/config/1628705076286/bridge/1628710755130/alfajores_verification.json
  rust/config/1628705076286/bridge/1628710755130/kovan_contracts.json
  rust/config/1628705076286/bridge/1628710755130/kovan_verification.json
  rust/config/1628705076286/bridge/1628712149659/alfajores_contracts.json
  rust/config/1628705076286/bridge/1628712149659/alfajores_verification.json
  rust/config/1628705076286/bridge/1628712149659/kovan_contracts.json
  rust/config/1628705076286/bridge/1628712149659/kovan_verification.json
  rust/config/1628705076286/kathy-partial.json
  rust/config/1628705076286/kovan_config.json
  rust/config/1628705076286/kovan_contracts.json
  rust/config/1628705076286/kovan_verification.json
  rust/config/1628705076286/processor-partial.json
  rust/config/1628705076286/relayer-partial.json
  rust/config/1628705076286/updater-partial.json
  rust/config/1628705076286/watcher-partial.json
  solidity/optics-core/contracts/Home.sol
  solidity/optics-core/contracts/XAppConnectionManager.sol
  solidity/optics-core/contracts/governance/GovernanceMessage.sol
  solidity/optics-core/contracts/governance/GovernanceRouter.sol
  solidity/optics-core/package-lock.json
  solidity/optics-core/tsconfig.json
  solidity/optics-xapps/.gitignore
  solidity/optics-xapps/hardhat.config.ts
  solidity/optics-xapps/package-lock.json
  solidity/optics-xapps/package.json
  solidity/optics-xapps/tsconfig.json
  typescript/optics-deploy/package-lock.json
  typescript/optics-deploy/src/bridge/index.ts
  typescript/optics-deploy/src/deploy.ts
  typescript/optics-deploy/src/proxyUtils.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/Home__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/typechain/optics-xapps/factories/XAppConnectionManager__factory.ts
Labels: typescript

#560 Raise process gas and add tests/
  rust/config/1628807252805/alfajores_config.json
  rust/config/1628807252805/alfajores_contracts.json
  rust/config/1628807252805/alfajores_verification.json
  rust/config/1628807252805/bridge/1628807481166/alfajores_contracts.json
  rust/config/1628807252805/bridge/1628807481166/alfajores_verification.json
  rust/config/1628807252805/bridge/1628807481166/kovan_contracts.json
  rust/config/1628807252805/bridge/1628807481166/kovan_verification.json
  rust/config/1628807252805/kathy-partial.json
  rust/config/1628807252805/kovan_config.json
  rust/config/1628807252805/kovan_contracts.json
  rust/config/1628807252805/kovan_verification.json
  rust/config/1628807252805/processor-partial.json
  rust/config/1628807252805/relayer-partial.json
  rust/config/1628807252805/updater-partial.json
  rust/config/1628807252805/watcher-partial.json
  solidity/optics-core/contracts/Replica.sol
  solidity/optics-xapps/contracts/bridge/test/MockCore.sol
  typescript/optics-deploy/src/bridge/TestBridgeDeploy.ts
  typescript/optics-tests/test/bridge/bridge.test.ts
  typescript/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/Home__factory.ts
  typescript/typechain/optics-core/factories/Replica__factory.ts
  typescript/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/TestHome__factory.ts
  typescript/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/typechain/optics-core/factories/UpdaterManager__factory.ts
  typescript/typechain/optics-core/factories/XAppConnectionManager__factory.ts
  typescript/typechain/optics-xapps/MockCore.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/MockCore__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/Replica__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/typechain/optics-xapps/factories/XAppConnectionManager__factory.ts
Labels: solidity ♦️, testing, typescript

#547 KMS CLI
  rust/Cargo.lock
  rust/Cargo.toml
  rust/kms-cli/Cargo.toml
  rust/kms-cli/src/main.rs
  rust/optics-base/Cargo.toml
  rust/optics-base/bin/print_address.rs
  rust/optics-core/Cargo.toml
  rust/optics-core/src/lib.rs
  rust/optics-ethereum/Cargo.toml
  rust/optics-ethereum/src/macros.rs
Labels: rust 🦀

#545 refactor: fewer trait impls in tracing setup
  rust/kathy/src/main.rs
  rust/optics-base/bin/example.rs
  rust/optics-base/src/settings/trace/jaeger.rs
  rust/optics-base/src/settings/trace/mod.rs
  rust/optics-base/src/settings/trace/zipkin.rs
  rust/processor/src/main.rs
  rust/relayer/src/main.rs
  rust/updater/src/main.rs
  rust/watcher/src/main.rs
Labels: rust 🦀, refactor

#564 Tons of Bridge Tests
  solidity/optics-xapps/contracts/bridge/BridgeRouter.sol
  typescript/optics-deploy/src/bridge/TestBridgeDeploy.ts
  typescript/optics-tests/test/bridge/bridge.test.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/hardhat.d.ts
  typescript/typechain/optics-xapps/index.ts
Labels: solidity ♦️, typescript

#576 feat: Disallow sending 0 tokens
  solidity/optics-xapps/contracts/bridge/BridgeRouter.sol
  solidity/optics-xapps/contracts/bridge/TokenRegistry.sol
  typescript/optics-tests/test/bridge/bridge.test.ts
  typescript/typechain/optics-xapps/BridgeRouter.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
Labels: solidity ♦️

#566 refactor: upgrade safety
  contract-inheritance.md
  rust/optics-ethereum/abis/Home.abi.json
  solidity/optics-core/contracts/Common.sol
  solidity/optics-core/contracts/Home.sol
  solidity/optics-core/contracts/Merkle.sol
  solidity/optics-core/contracts/Queue.sol
  solidity/optics-core/contracts/Replica.sol
  solidity/optics-core/contracts/governance/GovernanceRouter.sol
  solidity/optics-core/contracts/test/TestCommon.sol
  solidity/optics-core/package-lock.json
  solidity/optics-core/package.json
  solidity/optics-xapps/contracts/Router.sol
  solidity/optics-xapps/contracts/XAppConnectionClient.sol
  solidity/optics-xapps/contracts/bridge/BridgeRouter.sol
  solidity/optics-xapps/contracts/bridge/BridgeToken.sol
  solidity/optics-xapps/package-lock.json
  typescript/optics-tests/test/bridge/bridge.test.ts
  typescript/typechain/optics-core/Common.d.ts
  typescript/typechain/optics-core/Home.d.ts
  typescript/typechain/optics-core/TestCommon.d.ts
  typescript/typechain/optics-core/TestHome.d.ts
  typescript/typechain/optics-core/factories/Common__factory.ts
  typescript/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/Home__factory.ts
  typescript/typechain/optics-core/factories/MerkleTreeManager__factory.ts
  typescript/typechain/optics-core/factories/QueueManager__factory.ts
  typescript/typechain/optics-core/factories/Replica__factory.ts
  typescript/typechain/optics-core/factories/TestCommon__factory.ts
  typescript/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/TestHome__factory.ts
  typescript/typechain/optics-core/factories/TestMerkle__factory.ts
  typescript/typechain/optics-core/factories/TestMessage__factory.ts
  typescript/typechain/optics-core/factories/TestQueue__factory.ts
  typescript/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/typechain/optics-core/factories/UpdaterManager__factory.ts
  typescript/typechain/optics-core/factories/XAppConnectionManager__factory.ts
  typescript/typechain/optics-xapps/Common.d.ts
  typescript/typechain/optics-xapps/Home.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/Common__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/Home__factory.ts
  typescript/typechain/optics-xapps/factories/MerkleTreeManager__factory.ts
  typescript/typechain/optics-xapps/factories/MockCore__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/QueueManager__factory.ts
  typescript/typechain/optics-xapps/factories/Replica__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/typechain/optics-xapps/factories/XAppConnectionManager__factory.ts
  upgradeable.md
Labels: solidity ♦️

#577 Verify Proxy via Etherscan API
  .github/workflows/solidity.yml
  rust/config/1628898664853/kovan_verification.json
  solidity/optics-core/hardhat.config.ts
  solidity/optics-xapps/hardhat.config.ts
  solidity/optics-xapps/package.json
  typescript/optics-deploy/package-lock.json
  typescript/optics-deploy/package.json
  typescript/optics-deploy/src/deploy.ts
  typescript/optics-deploy/src/proxyUtils.ts
  typescript/optics-deploy/src/verification/readDeployOutput.ts
  typescript/optics-deploy/src/verification/verifyLatestDeploy.ts
  typescript/optics-deploy/src/verification/verifyProxy.ts
  typescript/typechain/optics-xapps/hardhat.d.ts
  typescript/typechain/optics-xapps/index.ts
Labels: typescript

#594 tests: finish BridgeRouter checklist
  solidity/optics-xapps/contracts/bridge/test/MockWeth.sol
  typescript/optics-deploy/src/bridge/TestBridgeDeploy.ts
  typescript/optics-deploy/src/bridge/index.ts
  typescript/optics-tests/test/bridge/BridgeToken.test.ts
  typescript/optics-tests/test/bridge/EthHelper.test.ts
  typescript/optics-tests/test/bridge/bridge.test.ts
  typescript/typechain/optics-xapps/MockWeth.d.ts
  typescript/typechain/optics-xapps/factories/MockWeth__factory.ts
  typescript/typechain/optics-xapps/hardhat.d.ts
  typescript/typechain/optics-xapps/index.ts
Labels: solidity ♦️, testing, typescript

#614 bug: properly handle already initted kms client
  rust/optics-base/src/settings/mod.rs
Labels: bug, rust 🦀

#590 refactor: update test scripts
  .github/workflows/solidity.yml
  pre-commit.sh
  resolve-typechain-conflicts.sh
  scripts/resolve-typechain-conflicts.sh
  scripts/test-all.sh
  scripts/test-solidity.sh
  solidity/optics-core/package.json
  solidity/optics-core/test.sh
  solidity/optics-xapps/package.json
  typescript/optics-tests/package-lock.json
  typescript/optics-tests/package.json
Labels: solidity ♦️, testing, refactor, repo-setup, fix

#629 Remove nextToProcess from Replica
  rust/agents/processor/src/processor.rs
  rust/chains/optics-ethereum/abis/Replica.abi.json
  rust/chains/optics-ethereum/src/replica.rs
  rust/optics-base/src/replica.rs
  rust/optics-core/src/traits/replica.rs
  rust/optics-test/src/mocks/replica.rs
  solidity/optics-core/contracts/Replica.sol
  typescript/optics-deploy/src/core/index.ts
  typescript/optics-tests/package-lock.json
  typescript/optics-tests/test/cross-chain/simpleMessage.test.ts
  typescript/optics-tests/test/cross-chain/utils.ts
  typescript/optics-tests/test/replica.test.ts
  typescript/typechain/optics-core/Replica.d.ts
  typescript/typechain/optics-core/TestReplica.d.ts
  typescript/typechain/optics-core/factories/GovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/Replica__factory.ts
  typescript/typechain/optics-core/factories/TestGovernanceRouter__factory.ts
  typescript/typechain/optics-core/factories/TestReplica__factory.ts
  typescript/typechain/optics-core/factories/TestXAppConnectionManager__factory.ts
  typescript/typechain/optics-core/factories/XAppConnectionManager__factory.ts
  typescript/typechain/optics-xapps/Replica.d.ts
  typescript/typechain/optics-xapps/factories/BridgeRouter__factory.ts
  typescript/typechain/optics-xapps/factories/BridgeToken__factory.ts
  typescript/typechain/optics-xapps/factories/ETHHelper__factory.ts
  typescript/typechain/optics-xapps/factories/MockWeth__factory.ts
  typescript/typechain/optics-xapps/factories/PingPongRouter__factory.ts
  typescript/typechain/optics-xapps/factories/Replica__factory.ts
  typescript/typechain/optics-xapps/factories/RouterTemplate__factory.ts
  typescript/typechain/optics-xapps/factories/XAppConnectionManager__factory.ts
Labels: solidity ♦️, rust 🦀, refactor

#595 Helm Chart Update
  rust/helm/optics-agent/Chart.yaml
  rust/helm/optics-agent/templates/_helpers.tpl
  rust/helm/optics-agent/templates/configmap.yaml
  rust/helm/optics-agent/templates/kathy-statefulset.yaml
  rust/helm/optics-agent/templates/processor-statefulset.yaml
  rust/helm/optics-agent/templates/relayer-statefulset.yaml
  rust/helm/optics-agent/templates/serviceaccount.yaml
  rust/helm/optics-agent/templates/updater-statefulset.yaml
  rust/helm/optics-agent/values.yaml
Labels: infra

#593 refactor processor to have nicer behavioural traces
  rust/agents/kathy/src/kathy.rs
  rust/agents/processor/src/main.rs
  rust/agents/processor/src/processor.rs
  rust/optics-base/src/agent.rs
  rust/optics-base/src/home.rs
  rust/optics-base/src/macros.rs
  rust/optics-base/src/replica.rs
  rust/optics-core/src/traits/encode.rs
  rust/optics-core/src/traits/home.rs
  rust/optics-core/src/types/update.rs
  rust/optics-test/src/mocks/replica.rs
Labels: enhancement, rust 🦀, refactor

#669 chore: add explicit ws dep to work with new ethers
  rust/Cargo.lock
  rust/optics-core/Cargo.toml
Labels: rust 🦀, chore

#671 bug: transfer root governorship to configured governor on gov chain
  typescript/optics-deploy/src/bridge/BridgeDeploy.ts
  typescript/optics-deploy/src/chain.ts
  typescript/optics-deploy/src/core/CoreContracts.ts
  typescript/optics-deploy/src/core/CoreDeploy.ts
  typescript/optics-deploy/src/core/index.ts
  typescript/optics-tests/package-lock.json
Labels: bug, enhancement, typescript

#675 fix: fixed podSecurityContext in helm chart
  rust/helm/optics-agent/templates/configmap.yaml
  rust/helm/optics-agent/templates/kathy-statefulset.yaml
  rust/helm/optics-agent/templates/processor-statefulset.yaml
  rust/helm/optics-agent/templates/relayer-statefulset.yaml
  rust/helm/optics-agent/templates/updater-statefulset.yaml
  rust/helm/optics-agent/values.yaml
Labels: bug, infra

#676 break out deploy configs and add a 3 testnet script
  typescript/optics-deploy/.env.example
  typescript/optics-deploy/config/mainnets/.gitkeep
  typescript/optics-deploy/config/testnets/alfajores.ts
  typescript/optics-deploy/config/testnets/kovan.ts
  typescript/optics-deploy/config/testnets/rinkeby.ts
  typescript/optics-deploy/package.json
  typescript/optics-deploy/scripts/alfajoresKovan/bridge.ts
  typescript/optics-deploy/scripts/alfajoresKovan/core.ts
  typescript/optics-deploy/scripts/threeTestnets/bridge.ts
  typescript/optics-deploy/scripts/threeTestnets/core.ts
Labels: enhancement, typescript

#663 [Docs] docs migration from Notion
  docs/agents/agent-operations.md
  docs/architecture.md
  docs/contributing.md
  docs/failure-cases.md
  docs/faq.md
  docs/governance/cross-chain-governance.md
  docs/optics.md
  docs/versioning.md
  docs/xapps/developing.md
  docs/xapps/token-bridge.md
  rust/README.md
Labels: documentation

#683 feature: add span and debugs to fetch_leaf
  rust/agents/processor/src/prover_sync.rs
Labels: enhancement, rust 🦀

#686 bug: remove ancient debug rate limiter in prover_sync
  rust/agents/processor/src/prover_sync.rs
Labels: rust 🦀

#687 feature: slight rate limit in prover_sync fetch_leaf
  rust/agents/processor/src/prover_sync.rs
Labels: rust 🦀, agents

#682 fixing n-chain deploy tx ordering
  typescript/optics-deploy/src/chain.ts
  typescript/optics-deploy/src/core/index.ts
  typescript/optics-deploy/src/deploy.ts
Labels: bug, typescript
